<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
  
  <div class="group relative overflow-hidden bg-zinc-900/40 backdrop-blur-md border border-white/5 p-8 rounded-[2rem] hover:bg-zinc-900/60 transition-all duration-500">
    <div class="relative z-10">
      <h3 class="text-zinc-400 font-medium mb-1">إجمالي دخل اليوم</h3>
      <span 
         *ngIf="stats && stats.summary as summary"
        class="text-4xl font-black text-white tracking-tight">
        {{ summary?.todayGrossRevenue | number:'1.0-0' }} <span class="text-lg font-normal text-zinc-500">ج.م</span>
      </span>
      <p class="text-[10px] text-zinc-500 mt-2 italic">إجمالي المحل قبل خصم العمولات</p>
    </div>
    <img src="https://img.freepik.com/free-vector/finances-management-budget-assessment-financial-literacy-accounting-idea-financier-with-cash-economist-holding-golden-coin-cartoon-character_335657-1604.jpg" 
         class="absolute -left-6 -bottom-6 w-36 h-36 opacity-10 group-hover:opacity-30 group-hover:rotate-12 transition-all duration-700 grayscale group-hover:grayscale-0">
  </div>

  <div class="group relative overflow-hidden bg-zinc-900/40 backdrop-blur-md border border-white/5 p-8 rounded-[2rem] hover:bg-zinc-900/60 transition-all duration-500">
    <div class="relative z-10">
      <h3 class="text-zinc-400 font-medium mb-1">صافي ربح اليوم</h3>
      <span 
        *ngIf="stats && stats.summary as summary"
        class="text-4xl font-black text-yellow-500 tracking-tight">
        {{ summary!.todayNetRevenue | number:'1.0-2' }} <span class="text-lg font-normal text-yellow-500/50">ج.م</span>
      </span>
      <p class="text-[10px] text-yellow-500/40 mt-2 italic">بعد خصم نصيب الحلاقين</p>
    </div>
    <img src="https://img.freepik.com/free-vector/website-analysis-seo-reports-analytics-pie-charts-diagrams-computer-monitor-screen-business-financial-analyst-annual-presentation-concept-illustration_335657-1737.jpg" 
         class="absolute -left-6 -bottom-6 w-36 h-36 opacity-10 group-hover:opacity-30 group-hover:rotate-12 transition-all duration-700 grayscale group-hover:grayscale-0">
  </div>

  <div class="group relative overflow-hidden bg-zinc-900/40 backdrop-blur-md border border-white/5 p-8 rounded-[2rem] hover:bg-zinc-900/60 transition-all duration-500">
    <div class="relative z-10">
      <h3 class="text-zinc-400 font-medium mb-1">عمليات اليوم</h3>
      <span 
        *ngIf="stats && stats.summary as summary"
        class="text-4xl font-black text-white tracking-tight">
        {{ summary!.todayCutsCount }} <span class="text-lg font-normal text-zinc-500">عملية</span>
      </span>
    </div>
    <img src="https://img.freepik.com/free-vector/appointment-booking-calendar-theme_23-2148570827.jpg" 
         class="absolute -left-6 -bottom-6 w-36 h-36 opacity-10 group-hover:opacity-30 group-hover:rotate-12 transition-all duration-700 grayscale group-hover:grayscale-0">
  </div>

</div>

<app-cuts></app-cuts>