<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  
  <div class="group relative overflow-hidden bg-zinc-900/40 backdrop-blur-md border border-white/5 p-8 rounded-[2rem] hover:bg-zinc-900/60 transition-all duration-500">
    <div class="relative z-10">
      <h3 class="text-zinc-400 font-medium mb-1">إجمالي الأرباح</h3>
      <span class="text-4xl font-black text-yellow-500 tracking-tight">4,250 ج.م</span>
    </div>
    <img src="https://img.freepik.com/free-vector/finances-management-budget-assessment-financial-literacy-accounting-idea-financier-with-cash-economist-holding-golden-coin-cartoon-character_335657-1604.jpg?t=st=1768734239~exp=1768737839~hmac=b761b9c2082f4c853010a33ce35758348e383a45d42817a4018d3b5c1bee6d3a&w=1480" 
         class="absolute -left-6 -bottom-6 w-36 h-36 opacity-10 group-hover:opacity-30 group-hover:rotate-12 transition-all duration-700 grayscale group-hover:grayscale-0">
  </div>

  <div class="group relative overflow-hidden bg-zinc-900/40 backdrop-blur-md border border-white/5 p-8 rounded-[2rem] hover:bg-zinc-900/60 transition-all duration-500">
    <div class="relative z-10">
      <h3 class="text-zinc-400 font-medium mb-1">حجوزات اليوم</h3>
      <span class="text-4xl font-black text-white tracking-tight">12 حجز</span>
    </div>
    <img src="https://img.freepik.com/free-vector/appointment-booking-calendar-theme_23-2148570827.jpg?t=st=1768734380~exp=1768737980~hmac=c552c31cb054fb90c94c4b6eb62be851b6701071d156c90154ddda6ce06983b9&w=1480" 
         class="absolute -left-6 -bottom-6 w-36 h-36 opacity-10 group-hover:opacity-30 group-hover:rotate-12 transition-all duration-700 grayscale group-hover:grayscale-0">
  </div>

  <!-- <div class="group relative overflow-hidden bg-zinc-900/40 backdrop-blur-md border border-white/5 p-8 rounded-[2rem] hover:bg-zinc-900/60 transition-all duration-500">
    <div class="relative z-10">
      <h3 class="text-zinc-400 font-medium mb-1">حالة اللوحة</h3>
      <span class="text-2xl font-bold text-green-500 flex items-center gap-2">
        <span class="w-3 h-3 bg-green-500 rounded-full animate-ping"></span>
        يعمل بكفاءة
      </span>
    </div>
    <img src="https://img.freepik.com/free-vector/website-analysis-seo-reports-analytics-pie-charts-diagrams-computer-monitor-screen-business-financial-analyst-annual-presentation-concept-illustration_335657-1737.jpg?t=st=1768734441~exp=1768738041~hmac=5b29da34e54163ffd966e03f93d137d76513702a04b0626f59429789f039e126&w=1480" 
         class="absolute -left-6 -bottom-6 w-36 h-36 opacity-10 group-hover:opacity-30 group-hover:rotate-12 transition-all duration-700 grayscale group-hover:grayscale-0">
  </div> -->

</div>
<app-cuts></app-cuts>