@import "material-icons/iconfont/material-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animate gradient */
@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}
