@import "material-icons/iconfont/material-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animate gradient */
@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}

/* لإخفاء الـ Scrollbar التقليدي واستخدام التصميم الجديد */
.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: #eab308 rgba(255, 255, 255, 0.05);
}

.scrollbar-hide::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-hide::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 10px;
}
