<div class="relative h-screen overflow-hidden" dir="rtl">
  <div class="relative flex h-full">
    
    <app-sidebar 
      [isCollapsed]="isSidebarCollapsed"
      (toggleEvent)="toggleSidebar()"
      [class.w-64]="!isSidebarCollapsed" 
      [class.w-20]="isSidebarCollapsed"
      class="z-20 shadow-2xl border-l border-gray-800 transition-all duration-300 ease-in-out">
    </app-sidebar>
    
    <div class="flex-1 flex flex-col z-10 overflow-hidden">
      <app-topbar (onToggle)="toggleSidebar()"></app-topbar>
      
      <main class="relative flex-1 p-6 overflow-auto text-white bg-[#0a0a0a]">
        <div class="relative z-10">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</div>